/* CSS Code, der für alle Web Pages gleich ist und auf allen Web Pages eingebunden werden muss. */

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  height: 70px;
  color: #ffffff;
  background-color: black;
}
.content {
  flex-grow: 1;
  background-color: #f7f7f7;
  padding: 12px;
  margin: auto;
}

.nav{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.nav-point{
float: left;
margin: 20px;
color: white;
text-decoration: none;
}

.logo-header{
  float: right;
  margin: 20px;
}
