/* CSS Code, der für alle Web Pages gleich ist und auf allen Web Pages eingebunden werden muss. */

html,
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: #010d26;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    color: #ffffff;
    background-color: #010d26;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    color: #ffffff;
    background-color: #010d26;
    padding: 2em;
}


/*.content {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 2em;
    margin: auto;
    max-width: 900px;
} */

.nav {
    display: flex;
    align-items: center;
}

.nav-point {
    margin: 0 1em;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

#active-nav {
    color: #aa01c2;
}

.HeaderLogo {
    height: 100%;
}

.HeaderLogoImg {
    font-size: large;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    height: 100%;
}

.nav-point:hover,
.HeaderLogoImg:hover {
    color: #69b3cc;
}

.logo-footer {
    font-size: large;
    padding: 1em;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footerText {
    text-align: center;
}

h1 {
    color: #aa01c2;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #aa01c2;
}

.ContentTop {
    flex-grow: 1;
    padding-top: 2em;
    margin: auto;
    max-width: 900px;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-left: 10px;
}

.footer-links li a {
    color: #ffffff;
    transition: color 0.3s;
}

.logo-footer:hover,
.footer-links li a:hover {
    color: #69b3cc;
}

.button:hover {
    background-color: #69b3cc;
}

img {
    width: 100%;
}

.button {
    background-color: #3b74a5;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
    animation: pulse 2s infinite;
    /* Hinzufügen der Animation */
}

@keyframes pulse {
    0% {
        transform: scale(1);
        /* Ursprüngliche Größe */
    }
    50% {
        transform: scale(1.1);
        /* Vergrößern auf 110% */
    }
    100% {
        transform: scale(1);
        /* Zurück zur ursprünglichen Größe */
    }
}

.SelectComponentTeaserBG {
    background-color: #010d26;
    color: #ffffff;
}

@media screen and (max-width: 700px) {
    h1 {
        margin-top: 0;
    }
    .ContentTop {
        padding: 2em;
    }
    .header {
        display: none;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 701px) {
    .MobileNav {
        display: none;
    }
}

.FooterLogoImg {
    height: 5em;
}


/*Mobile Navigation*/

.mobile-container {
    margin: auto;
    height: 500px;
    color: white;
    border-radius: 10px;
}

.MobileNav {
    overflow: hidden;
    background-color: #010d26;
    position: relative;
}

.MobileNav #MobileNavLinks {
    display: none;
}

.MobileNav a {
    color: #ffffff;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.MobileNav a.MobileNavIcon {
    display: block;
    position: absolute;
    right: 0;
    top: +0.5em;
}

.MobileNav a:hover {
    background-color: #69b3cc;
    color: 010d26;
}

.MobileNavActive {
    color: white;
}

.MobileNavIcon {
    width: 2em;
}

.MobileNavActive {
    font-size: large;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    height: 3em;
    width: auto;
}
