.HomeHeader {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    background-color: #ffffff;
    padding: 4em;
    margin: auto;
    max-width: 900px;
}

.HomeHeaderText {
    width: 50%;
    margin-right: 2em;
}

.HomeHeaderImgPC {
    width: 50%;
    margin: 0.5em;
}

.HomeHeaderImgPC img{
    border-radius: 1em;
}

.SelectComponentTeaserOption {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 2px solid #ccc;
    padding: 0 1em 0 1em;
    width: 20%;
}

.CheckboxImg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.SelectComponentTeaserOptions {
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 4em;
}

.SelectComponentTeaser {
    margin: 5em 0 5em 0;
    text-align: center;
    flex-grow: 1;
    padding: 4em;
    margin: auto;
    max-width: 900px;
}

.bestsellerImg {
    width: 100%;
    border-radius: 1em;
}

.bestsellers {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 1em;
}

.bestsellerProduct {
    text-align: center;
    width: 30%;
}

.bestseller {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    background-color: #ffffff;
    padding: 4em;
    margin: auto;
    max-width: 900px;
}

@media screen and (max-width: 1000px) {
    .HomeHeaderImgPc {
        width: 100%;
    }
    .HomeHeaderText {
        width: 100%;
    }
    .HomeHeader {
        flex-direction: column;
        padding: 2em;
    }
}

@media screen and (max-width: 700px) {
    .SelectComponentTeaserOptions {
        flex-direction: column;
        margin-left: 0;
    }
    .SelectComponentTeaserOption {
        width: 100%;
    }
    .SelectComponentTeaser {
        padding: 2em;
    }
    .content {
        margin: 0;
    }
    .bestseller {
        padding: 2em;
    }
}

@media screen and (max-width: 1000px) {
    .HomeHeaderImgPc {
        display: none;
    }
}

@media screen and (min-width: 1001px) {
    .HomeHeaderImgMobile {
        display: none;
    }
}
