.product-row {
    padding-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-row2,
.product-row-promotion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-box {
    width: calc(50% - 20px);
    margin: 10px;
    text-align: center;
}

.product-box2 {
    width: calc(33.33% - 20px);
    text-align: center;
}

.promotionproduct {
    width: calc(33.33% - 20px);
    text-align: center;
}

.ImgBackground {
    padding: 1em;
}

.ImgBackground img {
    border-radius: 1em;
}

.ImgBackground img:hover {
    transform: scale(1.1);
}

.PromotionPlus {
    font-size: 4.5em;
    margin: 0.5em;
    text-align: center;
}

.promotion {
    flex-grow: 1;
    padding: 2em;
    padding-top: 4em;
    margin: auto;
    max-width: 900px;
    margin-top: 5em;
    text-align: center;
    margin-bottom: 3em;
    border-top: solid 1px #010d26;
}

.allProducts {
    flex-grow: 1;
    padding: 2em;
    margin: auto;
    max-width: 900px;
}

.PromotionHeading {
    margin-bottom: 3em;
}

.contentColor {
    background: linear-gradient( 180deg, rgba(105, 179, 204, 0.1) 0%, rgba(170, 1, 194, 0.1) 90%);
}

@media screen and (max-width: 700px) {
    .product-box,
    .product-box2 {
        width: calc(50% - 20px);
        margin: 0;
        margin-bottom: 2em;
    }
    .product-row,
    .product-row2 {
        padding-bottom: 0;
    }
    .promotion {
        margin-top: 0em;
    }
    .promotionproduct {
        width: 50%;
        text-align: center;
    }
    .product-row-promotion {
        flex-direction: column;
        align-items: center;
    }
}