.product-row, .product-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.product-row .product-box {
    width: calc(50% - 20px); /* 50% Breite minus Margin */
    margin: 10px; /* Abstand zwischen den Boxen */
  }

.product-row2 .product-box2 {
  width: calc(33.33% - 20px); /* 33.33% Breite minus Margin */
}


.product-box, .product-box2{
  text-align: center;
}

.ImgBackground{
    background-color: bisque;
    padding: 1em;
    border-radius: 1em;
}

.PromotionPlus{
    font-size: 4.5em;
    margin: 0.5em;
    text-align: center;
}

.promotion{
    margin-top: 5em;
    text-align: center;
}

